html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-col { /* See http://stackoverflow.com/a/15377178 */
    display: flex;
    flex-direction: column;
    height:100%;
}

header {
    height: 50px;
    background-color: #000;
}

#map {
    flex-grow: 1;
}